.titulo{
    font-family: "Mozilla Headline", sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

button {
     font-family: "Mozilla Headline", sans-serif;
     font-weight: 700;
     font-style: normal;
        font-size: 25px;
}